*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:papayawhip;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.meme-container {
    text-align: center;
}
.meme-text p{
    color: rgb(93, 97, 96) !important;
}

.container img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 2px 2px 2px  rgb(221, 90, 90);
    
    /* border: 5px solid whitesmoke; */
}

.meme-text {
    margin-top: 20px;
}

.meme-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.meme-text p {
    font-size: 1.2rem;
    color: lavender;
}